<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.app07_partiu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Activity.DetalhesComandaGarcomActivity"
            android:label="@string/title_activity_detalhes_comanda_garcom"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
        <activity
            android:name=".Activity.ListaComandasGarcomActivity"
            android:label="@string/title_activity_visualizar_comanda"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Activity.ComandaActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Activity.CodigoComandaClienteActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Activity.EsqueceuSuaSenhaActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Activity.ErroConeccaoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Activity.RecomendacaoDetalhesActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Activity.RecomendacaoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CadastroActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>