<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.app07_partiu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".EsqueceuSuaSenhaActivity"
            android:label="@string/title_activity_esqueceu_sua_senha"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".ErroConeccaoActivity"
            android:label="@string/title_activity_erro_coneccao"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".RecomendacaoDetalhesActivity"
            android:label="@string/title_activity_recomendacao_detalhes"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".RecomendacaoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadastroActivity"
            android:label="@string/title_activity_cadastro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>